{% load bootstrap5 %}
{% load i18n %}
{% load static %}



<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial=scale=1, shrink-to-fit=no">
  <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css” />


  <title>My movies</title>

  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}


</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 border">

    <a class="navbar-brand" href="{% url 'my_movies:home' %}"><img src="{% static 'my_movies/home.png' %}" alt="Home image"></a>

    <a class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </a>

    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="btn btn-outline-success" type="submit" href="{% url 'my_movies:add' %}">
            Додати фільм
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">

          <div style="padding:5px 5px">
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
              <input name="next" type="hidden" value="{{ redirect_to }}">

              <select class="form-select-sm bg-dark text-white" name="language" onchange="form.submit()">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                {% if language.code == 'uk' or language.code == 'en' %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                  {{ language.code }}
                </option>
                {% endif %}
                {% endfor %}
              </select>
            </form>
          </div>
        </li>
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:register' %}">Реєстрація</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:login_check' %}">Увійти</a>
        </li>
        {% else %}
        <li class="nav-item navbar-text">
          {{ user.username }}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my_movies:my_movies' %}">Мої рекомендації</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my_movies:wish_list' %}">Мій Список</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:logout'%}">Вийти</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </nav>

  <main role="main" class="container">
    <div class="pb-2 border-bottom">
      {% block page_header %}{% endblock page_header %}
    </div>
    <div>
      {% block content %}{% endblock content %}
    </div>

  </main>

</body>

</html>
