{% extends 'uk_movies/base.html' %}
{% load extras %}

{% block page_header %}

{% endblock page_header %}

{% block content %}

<div>
  <a class="link-dark" href="{% url 'my_movies:movie' movie.id %}">
    <h3>{{ movie }}</h3>
  </a>
  <h4>&#11088 {{ movie.rating }}</h4>
</div>

{% for comment in comments %}
<div class="row" style="margin-top:10px;">

  <div class="col-2">
    <img class="rounded mx-auto d-block w-75 border border-dark p-2" src="https://styles.redditmedia.com/t5_2qqcn/styles/communityIcon_de3pi2i14o551.png" alt="user profile img">
  </div>

  <div class="col-10">
    <b> {{comment.owner}} </b> {{ comment.date_added|date:'M d, Y H:i'}}
    <p>{{comment}}</p>


    <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#renderForm">
      Reply
    </button>

    <a data-bs-toggle="collapse" data-bs-target="#repls">
      Replies
    </a>

    {% for reply in replyDict|get_val:comment.id %}


    <div class="row" style="margin-top:15px;">
      <div class="collapse" id="repls">
        <div class="col">
          <b>{{ reply.owner }}</b> {{ reply.date_added|date:'M d, Y H:i'}}
          <p>{{ reply }}</p>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  <div class="collapse" id="renderForm">
    <div class="card card-body my-2">
      <form action="{% url 'my_movies:new_comment' movie.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
          <label for="comment">Відповісти</label>
          <input type="text" class="form-control" id="comment" name="reply" placeholder="Enter comment here">
          <input type="hidden" name="parentId" value="{{comment.id}}">
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Підтвердити</button>
      </form>

    </div>
  </div>
</div>

{% empty %}
<p>
  Цей фільм ще не має коментарів.
</p>
{% endfor %}

<div style="margin-top:15px">
  <a class="btn btn-success" href="{% url 'my_movies:new_comment' movie.id %}">Додати коментар</a>
</div>
{% endblock %}
