{% extends 'uk_movies/base.html'%}
{% load bootstrap5 %}

{% block page_header %}
<h3>Мій список-план</h3>
{% endblock %}

{% block content %}
<h4>Рекомендації <a class="link-dark" href="{% url 'my_movies:home' %}">My Family Cinema</a></h4>

<div class="container" style="padding-bottom:35px">
  {% for movie in movies %}
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item list-group-item-secondary
        d-flex justify-content-between align-items-center">
          <a class="link-success" href="{% url 'my_movies:movie' movie.id %}">{{ movie }} (<i>від {{ movie.owner }})</i></a>
          <span class="badge"><a class="btn-outline-danger" href="{% url 'my_movies:delete_from_watchlist' movie.id %}">☓</a></span>
        </li>
      </ul>
    </div>
  </div>
  {% empty %}
  <p>У Вашому списку поки немає фільмів</p>
  {% endfor%}
</div>


<div class="container" style="padding-bottom:35px">
  <h4>Мої Нотатки</h4>

  {% for note in notes %}
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success
        d-flex justify-content-between align-items-center">
          {{ note }}
          <span class="badge"><a class="btn-outline-danger" href="{% url 'my_movies:delete_note' note.id %}">☓</a></span>
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>

<div>
  <a class="btn btn-outline-success" href="{% url 'my_movies:favorite' %}">Додати фільм</a>
</div>








{% endblock content %}
