{% load bootstrap5 %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial=scale=1, shrink-to-fit=no">
    <title>My movies</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}


</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 border">

    <a class="navbar-brand" href="{% url 'my_movies:home' %}">My Family Cinema</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
       data-target="#navbarCollapse" aria-controls="#navbarCollapse"
       aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="btn btn-outline-success" type="submit" href="{% url 'my_movies:add' %}">
                    Add post
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
            </li>
            {% else %}
            <li class="nav-item navbar-text">
                {{ user.username }}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_movies:my_movies' %}">My Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout'%}">Log out</a>
            </li>

          {% endif %}
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="pb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>

</main>

</body>
</html>