{% extends 'my_movies/base.html' %}

{% block page_header %}

{% endblock page_header %}

{% block content %}

      <div>
        <a class="link-dark" href="{% url 'my_movies:movie' movie.id %}"><h3>{{ movie }}</h3></a><h4>&#11088 {{ movie.rating }}</h4>
      </div>

{% for comment in comments %}
<div class="card">
  <div class="card-header">
    {{ comment.date_added|date:'M d, Y H:i'}}
  </div>

  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ comment.text|linebreaks }}</p>
      <footer class="blockquote-footer">{{ comment.owner }}</footer>
    </blockquote>
    <a href="{% url 'my_movies:reply' comment.id %}">Reply</a>
    <a data-bs-toggle="collapse" data-bs-target="#repls">
      Replies( {{ comment.reply_set.all.count }} )
    </a>

    {% for reply in comment.reply_set.all|dictsortreversed:"date_added" %}
    <div class="collapse" id="repls">
      <div class="card">
        <div class="card-body" style="margin-left: 20px;">
          <blockquote class="blockquote mb-0">
            <p>{{ reply.text|linebreaks }}</p>
            <footer class="blockquote-footer">{{ reply.owner }} <i>({{ reply.date_added|date:'M d, Y H:i'}})</i></footer>
          </blockquote>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<div class="card-body"></div>
</div>

{% endfor %}

{% endblock content%}