{% extends 'my_movies/base.html' %}

{% block page_header %}

{% endblock page_header %}

{% block content %}

<div class="container" style="padding-bottom:25px">
  <div class="row">
    <div class="col">
      <img src="{{ movie.img_url }}" width="70%">
    </div>
    <div class="col">
      <div>
          <h3>{{ movie }} ({{ movie.year }}) </h3>
              <p>added by {{ movie.owner }} <i>({{ movie.date_added|date:'M d, Y H:i'}})</i></p>

      </div>
      <div>
          <p> Rating: &#11088 {{ movie.rating }} </p>
      </div>
      <div>
          <p>{% if movie.review %}
              {{ movie.review }}
              {% endif %}
          </p>
      </div>
        <div style="padding-bottom:20px">
            {{ movie.description }}
        </div>
        {% if request.user == movie.owner %}

        <div class="button">
            <a class="btn btn-primary" href="{% url 'my_movies:review' movie.id %}">Save</a>
            <a href="{% url 'my_movies:cancel' movie.id %}" class="btn btn-primary">Cancel</a>
            {% endif %}
        </div>
    </div>
  </div>
</div>


{% endblock content%}