{% extends 'uk_movies/base.html' %}
{% load bootstrap5 %}

{% block page_header %}
  <h2>Щоб увійти, введіть свої дані</h2>
{% endblock page_header %}


{% block content %}
  <form method="post" action="{% url 'users:login_check' %}" class="form">
    {% csrf_token %}
    <p>
    <input type="text" name="username" autocapitalize="none" class="form-control" maxlength="150"
           required="" id="id_username" placeholder="Ім'я користувача">
    </p>
    <div class="input-group mb-3">
    <input type="password" id="id_password" name="password" class="form-control"
           data-toggle="password" placeholder="Пароль">
    <span class="input-group-text">
      <i class="eye" id="togglePassword" style="cursor: pointer;">&#128065</i>
    </span>
    </div>
      <button name="submit" class="btn btn-success">Увійти</button>

    <input type="hidden" name="next"
           value="{% url 'my_movies:home' %}" />

  </form>

<div style="margin-top:7px">
<a class="link-secondary" href="{% url 'users:register' %}">Реєстрація</a>
</div>

<script>
  const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#id_password');

  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('eye-slash');
});

</script>

{% endblock content %}